@media (max-width: 767px) {
    .center {
        padding-left: 20px;
        padding-right: 20px;
    }

    .product-tabs {
        padding-bottom: 7px;

        &__list {
            gap: 48px;
        }

        &__item {
            font-size: 15px;
        }

        &__item--active::after {
            bottom: -7px;
        }
    }

    .product-details {
        padding-bottom: 30px;
        padding-top: 24px;

        &__title {
            font-size: 15px;
        }

        &__text {
            display: none;
        }

        &__text--mobile {
            display: block;
            text-align: justify;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            color: $text-color;
        }

        &__text--mobile--first {
            margin-bottom: 30px;
        }
    }

    .product-properties {
        padding-bottom: 48px;

        &__title {
            display: none;
            margin-bottom: 25px;
        }

        &__title--mobile {
            display: block;
            font-weight: 600;
            font-style: normal;
            font-size: 15px;
            color: $text-color;
            margin-bottom: 15px;
        }

        &__row {
            width: 335px;
        }

        &__value--esc {
            display: none;
        }

        &__value--mobile {
            display: block;
        }
    }

    .related-products {
        gap: 16px;

        &__title {
            font-weight: 500;
            font-style: normal;
            font-size: 18px;
            color: $text-color;
        }
    }

    .product-card {
        border: 0.5px solid rgba(222, 222, 222, 1.00); 
        border-radius: 10px; 
        max-width: 288px;
    }

    .reviews-page {

        &__text {
            text-align: justify;
            width: 334px;
            margin-top: 24px;
        }

        &__button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .where-from {

        display: block;
        margin-top: 24px;

        &__text {
            text-align: justify;
            width: 334px;
        }

        &__paragraph {
            display: none;
        }

        &__paragraph--mobile {
            display: block;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            color: $text-color;
        }

        &__paragraph--mobile--first {
            margin-bottom: 30px;
        }

        &__paragraph--two {
            display: block;
            margin-top: 17px;
            margin-bottom: 17px;
            font-weight: 600;
            font-style: normal;
            font-size: 15px;
            color: $text-color;
        }

        &__photo {
            width: 336px;
        }

        &__buttons {
            margin-top: 34px;
        }

        &__button {
            width: 163px;
            padding: 9px 25px;
            font-weight: 600;
            font-style: normal;
            font-size: 15px;
            color: #043E44;
            border: 0.5px solid #043E44;
        }

        &__button--first {
            margin-right: 5px;
        }
    }

}